/*Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

body  {
    height: 100%;
    width: 100%;
    margin: 0;

}

.meth {
    display:flex;
    flex-direction: column;
}

.money{
    display:flex;
    flex-direction: column;
}


#info1 {
    margin: 0;
    font-size : 30px;
    color: white;
}
#info01 {
    margin: 0;
    font-size : 15px;
    color: white;
}

#info2 {
    margin: 0;
    font-size : 30px;
    color: white;
}

#info02 {
    margin: 0;
    font-size : 15px;
    color: white;
}


#info3 {
    font-size : 30px;
    color: white;
}

.container {
    height: 100%;
    display:flex;
    gap: 2rem;
}

.container .sidebar {
    background-color: red;
    width: 40%;
    padding: 20px 10px;
}

.container .content {
    background-color: green;
    width: 60%;
    padding: 20px 10px;
}

.container .sidebar .controller {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 51%;
    
}

.container .sidebar .controller .circle {
    height: 120px;
    width: 120px;
    border-radius: 100%;
    border:3px solid black;
    cursor: pointer;
}

.container .sidebar .controller .circle:active {
    transform: scale(.8);
}

.container .sidebar .controller .rectangle1 {
    display: flex;
    align-items: center;
}

.container .sidebar .controller .rectangle2 {
    display: flex;
    align-items: center;
}

.container .sidebar .controller .rectangle3 {
    display: flex;
}

.container .sidebar .controller .rectangle1 .circle.meth {
    background-color: yellow;
}


.container .sidebar .controller .rectangle2 .circle.money {
    background-color: green;
}

.container .sidebar .controller .rectangle3 .circle.purity { 
    background-color: white;
    height: 100px;
    width: 100px;  
    margin-left: 10px;
    cursor: inherit;
}

.container .sidebar .controller .circle.purity:active {
    transform: scale(1);
}

.container .sidebar .selector {
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.container .sidebar .selector .table {
display: flex;
flex-direction: column;
}

.container .sidebar .selector .table .thead {
    display: flex;
    flex-direction:column;
}

.container .sidebar .selector .table .thead .tr {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}

.container .sidebar .selector .table .thead .tr #col1 {
    padding: 6px 24px;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 18%;
    background-color: blue;
}

.container .sidebar .selector .table .thead .tr #col2,
.container .sidebar .selector .table .thead .tr #col3,
.container .sidebar .selector .table .thead .tr #col4 {
    padding: 6px 24px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 18%;
}

.container .sidebar .selector .table .thead .tr #col1:active,
.container .sidebar .selector .table .thead .tr #col2:active,
.container .sidebar .selector .table .thead .tr #col3:active,
.container .sidebar .selector .table .thead .tr #col4:active {
    transform: scale(.8);
}

.container .sidebar .selector .table .tbody {
    display: flex;
    flex-direction:column;
}

.container .sidebar .selector .table .tbody .tr1,
.container .sidebar .selector .table .tbody .tr2,
.container .sidebar .selector .table .tbody .tr3,
.container .sidebar .selector .table .tbody .tr4,
.container .sidebar .selector .table .tbody .tr5,  
.container .sidebar .selector .table .tbody .tr6,  
.container .sidebar .selector .table .tbody .tr7,  
.container .sidebar .selector .table .tbody .tr8, 
.container .sidebar .selector .table .tbody .tr9,  
.container .sidebar .selector .table .tbody .tr10, 
.container .sidebar .selector .table .tbody .tr11,
.container .sidebar .selector .table .tbody .tr12,
.container .sidebar .selector .table .tbody .tr01,
.container .sidebar .selector .table .tbody .tr02,
.container .sidebar .selector .table .tbody .tr03,
.container .sidebar .selector .table .tbody .tr04,
.container .sidebar .selector .table .tbody .tr05,
.container .sidebar .selector .table .tbody .tr001,
.container .sidebar .selector .table .tbody .tr002,
.container .sidebar .selector .table .tbody .tr003,
.container .sidebar .selector .table .tbody .tr004,
.container .sidebar .selector .table .tbody .tr005,
.container .sidebar .selector .table .tbody .tr006,
.container .sidebar .selector .table .tbody .tr007,
.container .sidebar .selector .table .tbody .tr008,
.container .sidebar .selector .table .tbody .tr009,
.container .sidebar .selector .table .tbody .tr0010,
.container .sidebar .selector .table .tbody .tr0011,
.container .sidebar .selector .table .tbody .tr0012,
.container .sidebar .selector .table .tbody .tr0001 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container .sidebar .selector .table .tbody .tr1 #trailer,
.container .sidebar .selector .table .tbody .tr2 #line2,
.container .sidebar .selector .table .tbody .tr3 #line3,
.container .sidebar .selector .table .tbody .tr4 #line4,
.container .sidebar .selector .table .tbody .tr5 #line5,  
.container .sidebar .selector .table .tbody .tr6 #line6,  
.container .sidebar .selector .table .tbody .tr7 #line7,  
.container .sidebar .selector .table .tbody .tr8 #line8, 
.container .sidebar .selector .table .tbody .tr9 #line9,  
.container .sidebar .selector .table .tbody .tr10 #line10, 
.container .sidebar .selector .table .tbody .tr11 #line11,
.container .sidebar .selector .table .tbody .tr12 #line12,
.container .sidebar .selector .table .tbody .tr01 #line01,
.container .sidebar .selector .table .tbody .tr02 #line02,
.container .sidebar .selector .table .tbody .tr03 #line03,
.container .sidebar .selector .table .tbody .tr04 #line04,
.container .sidebar .selector .table .tbody .tr05 #line05,
.container .sidebar .selector .table .tbody .tr001 #line001,
.container .sidebar .selector .table .tbody .tr002 #line002,
.container .sidebar .selector .table .tbody .tr003 #line003,
.container .sidebar .selector .table .tbody .tr004 #line004,
.container .sidebar .selector .table .tbody .tr005 #line005,
.container .sidebar .selector .table .tbody .tr006 #line006,
.container .sidebar .selector .table .tbody .tr007 #line007,
.container .sidebar .selector .table .tbody .tr008 #line008,
.container .sidebar .selector .table .tbody .tr009 #line009,
.container .sidebar .selector .table .tbody .tr0010 #line010,
.container .sidebar .selector .table .tbody .tr0011 #line011,
.container .sidebar .selector .table .tbody .tr0012 #line012,
.container .sidebar .selector .table .tbody .tr0001 #line0001 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 24px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    width: 18%;
}

.container .sidebar .selector .table .tbody .tr1 #trailer:active, 
.container .sidebar .selector .table .tbody .tr2 #line2:active,
.container .sidebar .selector .table .tbody .tr3 #line3:active,
.container .sidebar .selector .table .tbody .tr4 #line4:active,
.container .sidebar .selector .table .tbody .tr5 #line5:active,
.container .sidebar .selector .table .tbody .tr6 #line6:active,
.container .sidebar .selector .table .tbody .tr7 #line7:active,
.container .sidebar .selector .table .tbody .tr8 #line8:active,
.container .sidebar .selector .table .tbody .tr9 #line9:active,
.container .sidebar .selector .table .tbody .tr10 #line10:active,
.container .sidebar .selector .table .tbody .tr11 #line11:active,
.container .sidebar .selector .table .tbody .tr12 #line12:active,
.container .sidebar .selector .table .tbody .tr01 #line01:active,
.container .sidebar .selector .table .tbody .tr02 #line02:active,
.container .sidebar .selector .table .tbody .tr03 #line03:active,
.container .sidebar .selector .table .tbody .tr04 #line04:active,
.container .sidebar .selector .table .tbody .tr05 #line05:active,
.container .sidebar .selector .table .tbody .tr001 #line001:active,
.container .sidebar .selector .table .tbody .tr002 #line002:active,
.container .sidebar .selector .table .tbody .tr003 #line003:active,
.container .sidebar .selector .table .tbody .tr004 #line004:active,
.container .sidebar .selector .table .tbody .tr005 #line005:active,
.container .sidebar .selector .table .tbody .tr006 #line006:active,
.container .sidebar .selector .table .tbody .tr007 #line007:active,
.container .sidebar .selector .table .tbody .tr008 #line008:active,
.container .sidebar .selector .table .tbody .tr009 #line009:active,
.container .sidebar .selector .table .tbody .tr0010 #line010:active,
.container .sidebar .selector .table .tbody .tr0011 #line011:active,
.container .sidebar .selector .table .tbody .tr0012 #line012:active,
.container .sidebar .selector .table .tbody .tr0001 #line0001:active {
    transform: scale(.8);
}

.container .sidebar .selector .table .tbody .tr1 #content1, 
.container .sidebar .selector .table .tbody .tr2 #content2,
.container .sidebar .selector .table .tbody .tr3 #content3,
.container .sidebar .selector .table .tbody .tr4 #content4,
.container .sidebar .selector .table .tbody .tr5 #content5,
.container .sidebar .selector .table .tbody .tr6 #content6,
.container .sidebar .selector .table .tbody .tr7 #content7,
.container .sidebar .selector .table .tbody .tr8 #content8,
.container .sidebar .selector .table .tbody .tr9 #content9,
.container .sidebar .selector .table .tbody .tr10 #content10,
.container .sidebar .selector .table .tbody .tr11 #content11,
.container .sidebar .selector .table .tbody .tr12 #content12,
.container .sidebar .selector .table .tbody .tr01 #content01,
.container .sidebar .selector .table .tbody .tr02 #content02,
.container .sidebar .selector .table .tbody .tr03 #content03,
.container .sidebar .selector .table .tbody .tr04 #content04,
.container .sidebar .selector .table .tbody .tr05 #content05,
.container .sidebar .selector .table .tbody .tr001 #content001,
.container .sidebar .selector .table .tbody .tr002 #content002,
.container .sidebar .selector .table .tbody .tr003 #content003,
.container .sidebar .selector .table .tbody .tr004 #content004,
.container .sidebar .selector .table .tbody .tr005 #content005,
.container .sidebar .selector .table .tbody .tr006 #content006,
.container .sidebar .selector .table .tbody .tr007 #content007,
.container .sidebar .selector .table .tbody .tr008 #content008,
.container .sidebar .selector .table .tbody .tr009 #content009,
.container .sidebar .selector .table .tbody .tr0010 #content0010,
.container .sidebar .selector .table .tbody .tr0011 #content0011,
.container .sidebar .selector .table .tbody .tr0012 #content0012,
.container .sidebar .selector .table .tbody .tr0001 #content0001 {
    padding: 6px 24px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    width: 67%;
}



.container .content .controller1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height : 100%;
}

.container .content .controller1 .rectangle01,
.container .content .controller1 .rectangle02,
.container .content .controller1 .rectangle03,
.container .content .controller1 .rectangle04,
.container .content .controller1 .rectangle05 {
    display: inline-block;
    padding: 6px 24px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    height : 20%;
}


.container .content .controller1 .rectangle01 .buttondealer {
    margin-top: auto;
    padding: 6px 24px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
  }

  .container .content .controller1 .rectangle01 .buttondealer:active {
    transform: scale(.8);
}

  .container .content .controller1 .rectangle01 #dealer {
    color: white;
  }

  .container .content .controller1 .rectangle02 .buttonchemist1 {
    margin-top: auto;
    padding: 6px 24px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
  }

  .container .content .controller1 .rectangle02 .buttonchemist1:active {
    transform: scale(.8);
}

  .container .content .controller1 .rectangle02 #chemist1 {
    color: white;
  }